/* Override font: simple sans-serif for regular text, fancy font for titles */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

html {
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6,
.sidebar-about h1 {
	font-family: 'Josefin Sans', sans-serif;
}

.sidebar-about h1 {
	font-size: 2rem;
}

/* Logo orange color: #fc7e3f */
.theme-base-mullie .sidebar {
	background-color: #444;
}
.theme-base-mullie .content a,
.theme-base-mullie .related-posts li a:hover {
	color: #f86831;
}

/* Social logos (social.html) */
.social {
	width: 52px;
	height: 36px;
	display: inline-block;
}

.social img.gray {
	display: block;
}
.social:hover img.gray {
	display: none;
}
.social img.color {
	display: none;
}
.social:hover img.color {
	display: block;
}

.social img {
	display: inherit;
}

/* Contact form */
form#contact input[type=text],
form#contact input[type=email],
form#contact textarea {
	width: 100%;
	margin: 0 0 10px;
	padding: 8px;

	border: 1px solid #ddd;
	color: #515151;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

form#contact input[type=submit] {
	padding: 8px;

	border: none;
	background: #444;
	color: #fff;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;

	float: right;

	cursor: pointer;
}

form#contact input[type=submit]:hover {
	box-shadow: 0 0 4px #fff inset;
}

/* Override images; they should be inline by default */
.content img {
	display: inline;
}
