<div class="comment-form top-30">
  <div class="heading-area bottom-30">
    <h3 class="heading">Ask me anything</h3>
  </div>

  <div id="submitsuccess" class="alert success bottom-30" role="alert" style="display: none;">
    <p>Thank you for submitting your message!</p>
  </div>

  <div id="submiterror" class="alert error bottom-30" role="alert" style="display: none;">
    <p>Something went wrong! Please contact me via the email address listed on <a href="https://github.com/matthiasmullie/">my GitHub profile</a>.</p>
  </div>

  <form id="contactform" action="#" method="post" class="form">
    <div class="row form-input">
      <div class="col-md-4 col-lg-6 field icon-field">
        <span class="icon"><i class="fa fa-user"></i></span>
        <input class="input" type="text" name="name" placeholder="Your name" required="required">
      </div>

      <div class="col-md-4 col-lg-6 field icon-field">
        <span class="icon"><i class="fa fa-envelope"></i></span>
        <input type="email" name="email" placeholder="Your email" required="required">
      </div>
    </div>

    <textarea class="bottom-20" name="message" id="comment-text" cols="30" rows="5" required="required"></textarea>
    <button class="button color"><span>Submit</span></button>
  </form>
</div>

<script>
  var $form = $('#contactform');

  $form.submit(function () {
    var action = 'https://post-to-email.onrender.com/?SUBJECT=' + encodeURIComponent('[mullie.eu] Contact form') + '&SENDER=' + encodeURIComponent($form.find('[name=email]').val());

    // hide form & success/error messages while submitting
    $('#submitsuccess, #submiterror').slideUp();
    $form.slideUp();

    // submit form
    $.post(action, $form.serialize())
      .then(
        function() {
          // show form again, with fields blanked out, and show success message
          $form.slideDown();
          $form.find('input, textarea').val('');
          $('#submitsuccess').slideDown();
        },
        function() {
          // display form again and show error message
          $form.slideDown();
          $('#submiterror').slideDown();
        }
      );

    return false;
  });
</script>
