<nav>
  <ul class="sf-menu clearfix">

    <li>
      <a href="{{ site.baseurl }}"{% if page.url == site.baseurl or page.name == 'index.html' or page.dir == null %} class="active"{% endif %}>Blog</a>
    </li>

    {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort: "weight" %}
    {% for node in pages_list %}
      {% if node.type == null and node.title != null and node.weight >= 0 and node.layout != "default" %}
        <li>
          <a href="{{ node.url }}"{% if page.url == node.url %} class="active"{% endif %}>{{ node.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
