<nav>
  <ul class="sf-menu clearfix">

    <li>
      <a href="{{ site.baseurl }}"{% if page.url == site.baseurl %} class="active"{% endif %}>Blog</a>
    </li>

    {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"weight" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout != "default" %}
          <li>
            <a href="{{ node.url }}"{% if page.url == node.url %} class="active"{% endif %}>{{ node.title }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>
