<div class="row bottom-10">
    <div class="col-xs-4">
        <a href="https://www.cauditor.org" title="Cauditor: code analyzer">
            <img src="/public/projects/cauditor.png" alt="" class="img-responsive" />
        </a>
    </div>
    <div class="col-xs-8">
        <h4>
            <a href="https://www.cauditor.org" title="Cauditor: code analyzer">
                Cauditor: code analyzer
            </a>
        </h4>
    </div>
</div>

<div class="row bottom-10">
    <div class="col-xs-4">
        <a href="http://www.scrapbook.cash" title="Scrapbook: cache environment">
            <img src="/public/projects/scrapbook.png" alt="" class="img-responsive" />
        </a>
    </div>
    <div class="col-xs-8">
        <h4>
            <a href="http://www.scrapbook.cash" title="Scrapbook: cache environment">
                Scrapbook: cache environment
            </a>
        </h4>
    </div>
</div>

<div class="row bottom-10">
    <div class="col-xs-4">
        <a href="http://www.minifier.org" title="CSS & JS minifier">
            <img src="/public/projects/minify.png" alt="" class="img-responsive" />
        </a>
    </div>
    <div class="col-xs-8">
        <h4>
            <a href="http://www.minifier.org" title="CSS & JS minifier">
                CSS & JS minifier
            </a>
        </h4>
    </div>
</div>
