<!--
<div class="row bottom-10">
    <div class="col-xs-4">
        <a href="https://www.cauditor.org" title="Cauditor: code analyzer">
            <img src="/public/projects/cauditor.png" alt="" class="img-responsive" />
        </a>
    </div>
    <div class="col-xs-8">
        <h4>
            <a href="https://www.cauditor.org" title="Cauditor: code analyzer">
                Cauditor: code analyzer
            </a>
        </h4>
    </div>
</div>
-->

<div class="row bottom-10">
    <div class="col-xs-4">
        <a href="https://www.scrapbook.cash" title="Scrapbook: PHP cache library">
            <img src="/public/projects/scrapbook.png" alt="" class="img-responsive" />
        </a>
    </div>
    <div class="col-xs-8">
        <h4>
            <a href="https://www.scrapbook.cash" title="Scrapbook: PHP cache library">
                Scrapbook: cache environment
            </a>
        </h4>
    </div>
</div>

<div class="row bottom-10">
    <div class="col-xs-4">
        <a href="https://github.com/matthiasmullie/minify" title="JavaScript &amp; CSS minifier">
            <img src="/public/projects/minify.png" alt="" class="img-responsive" />
        </a>
    </div>
    <div class="col-xs-8">
        <h4>
            <a href="https://github.com/matthiasmullie/minify" title="JavaScript &amp; CSS minifier">
                JavaScript &amp; CSS minifier
            </a>
        </h4>
    </div>
</div>
