<div>
  <a class="social twitter" href="https://twitter.com/matthiasmullie" title="Matthias Mullie on Twitter">
    <img class="gray" src="{{ site.baseurl }}public/social/twitter-gray.png" data-alt-src="{{ site.baseurl }}public/social/twitter-color.png" width="36" height="36" />
    <img class="color" src="{{ site.baseurl }}public/social/twitter-color.png" width="36" height="36" />
  </a>
  <a class="social linkedin" href="http://www.linkedin.com/in/matthiasmullie" title="Matthias Mullie on LinkedIn">
    <img class="gray" src="{{ site.baseurl }}public/social/linkedin-gray.png" data-alt-src="{{ site.baseurl }}public/social/linkedin-color.png" width="36" height="36" />
    <img class="color" src="{{ site.baseurl }}public/social/linkedin-color.png" width="36" height="36" />
  </a>
  <a class="social github" href="https://github.com/matthiasmullie" title="Matthias Mullie on GitHub">
    <img class="gray" src="{{ site.baseurl }}public/social/github-gray.png" data-alt-src="{{ site.baseurl }}public/social/github-color.png" width="36" height="36" />
    <img class="color" src="{{ site.baseurl }}public/social/github-color.png" width="36" height="36" />
  </a>
  <a class="social stackoverflow" href="http://stackoverflow.com/users/802993/matthiasmullie" title="Matthias Mullie on StackOverflow">
    <img class="gray" class="gray" src="{{ site.baseurl }}public/social/stackoverflow-gray.png" data-alt-src="{{ site.baseurl }}public/social/stackoverflow-color.png" width="36" height="36" />
    <img class="color" src="{{ site.baseurl }}public/social/stackoverflow-color.png" width="36" height="36" />
  </a>
</div>
