---
layout: base
---

<div class="pad-top-30 pad-bot-30" id="normal-page-content">
	<div class="container">
		<div class="row" id="content-sidebar">
			<div class="col-md-8" id="content">
				{{ content }}
			</div>

			<div class="col-md-4" id="sidebar">
				<div class="widget">
					<img src="{{ site.baseurl }}public/matthiasmullie.jpeg" class="img-responsive" alt="Matthias Mullie" />
				</div>

				<div class="widget nospace">
					<h4 class="widget-title">Resume</h4>
					<div class="col-md-6">
						<i class="fa fa-file-pdf-o" style="margin-right: 10px"></i>
						<a href="{{ site.url }}/public/cv/matthias-mullie.pdf">Résumé</a>
					</div>
					<div class="col-md-6">
						<i class="fa fa-linkedin" style="margin-right: 10px"></i>
						<a href="https://www.linkedin.com/in/matthiasmullie">LinkedIn</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
