---
layout: base
---

<div class="pad-top-30 pad-bot-30" id="normal-page-content">
	<div class="container">
		<div class="row" id="content-sidebar">
			<div class="col-md-8" id="content">
				{{ content }}
			</div>

			<div class="col-md-4" id="sidebar">
				{% if page.name != 'projects.html' %}
					<div class="widget projects" style="padding-bottom: 0">
						<h4 class="widget-title">Projects</h4>
						{% include projects.html %}

						{% for page in site.pages %}
							{% if page.name == 'projects.html' %}
								<div class="entry-item" style="margin-top: 20px">
									<footer class="entry-action col-xs-12 text-center">
										<a href="{{ page.url }}">More projects</a>
									</footer>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}

				<div class="widget top-post">
					<h4 class="widget-title">Top Posts</h4>
					{% include top_posts.html %}
				</div>
			</div>
		</div>
	</div>
</div>
