---
layout: default
---

<article itemprop="mainEntity" itemscope itemtype="https://schema.org/Article">
  <meta itemprop="mainEntityOfPage" content="{{ site.url }}{{ page.url }}">
  {% if page.image %}
  <meta itemprop="image" content="{{ site.baseurl }}/public/posts/{{ page.image }}">
  <meta itemprop="thumbnailUrl" content="{{ site.baseurl }}/public/posts/{{ page.image }}">
  {% endif %}
  <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}">
  <meta itemprop="url" content="{{ site.url }}{{ page.url }}">
  <meta itemprop="headline" content="{{ page.title }}">
  <meta itemprop="author" content="{{ site.author.name }}">
  <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization" style="display: none">
    <meta itemprop="name" content="{{ site.title }}">
    <meta itemprop="logo" content="{{ site.url }}{{ site.image }}">
  </div>

  <div class="entry-item detail">
    <div class="entry-header">
      <img class="img-responsive" src="{{ site.baseurl }}/public/posts/{{ page.image }}" alt="">
    </div>
    <div class="entry-detail">
      <header>
        <h2 class="entry-title bottom-0" itemprop="name">{{ page.title }}</h2>

        <div class="entry-info">
          <span><i class="fa fa-calendar"></i><time itemprop="datePublished" content="{{ page.date | date: '%m-%d-%Y' }}">{{ page.date | date_to_string }}</time></span>
          <span><i class="fa fa-tags"></i>{{ page.tags | array_to_sentence_string }}</span>
        </div>
      </header>

      <div class="entry-content">
        <div itemprop="articleBody">
          {{ content | replace: "<!-- more -->", "" | replace: "<!-- ads -->", "" }}
        </div>
      </div>
    </div>
  </div>

  <footer>
    {% comment %}Show contribute link only for real blog posts (a page can also use post template) {% endcomment %}
    {% if page.id %}
      <div class="comment top-30">
        <p class="comment-text">
          This post is <a href="https://github.com/matthiasmullie/mullie.eu/blob/main/{{ page.path }}" title="{{ page.title }} on GitHub">on GitHub</a>.
          If you spot any errors, please send me a <a href="https://github.com/matthiasmullie/mullie.eu/edit/main/{{ page.path }}" title="Edit {{ page.title }} on GitHub">pull request</a> (&amp; credit yourself!)
        </p>
      </div>
    {% endif %}

    {% if page.disqus %}
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = "{{ site.url }}{{ page.url }}";
        this.page.identifier = "{{ page.url }}";
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = '//mullie.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    {% endif %}

    {% if page.previous or page.next %}
      <div class="relatepost">
        <div class="row">
          <div class="col-md-6">
            {% if page.previous %}
            <article itemscope itemtype="https://schema.org/BlogPosting">
              <meta itemprop="mainEntityOfPage" content="{{ site.url }}{{ page.previous.url }}">
              {% if page.previous.image %}
              <meta itemprop="image" content="{{ site.baseurl }}/public/posts/{{ page.previous.image }}">
              <meta itemprop="thumbnailUrl" content="{{ site.baseurl }}/public/posts/{{ page.previous.image }}">
              {% endif %}
              <meta itemprop="description" content="{% if page.previous.description %}{{ page.previous.description | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}">
              <meta itemprop="url" content="{{ site.url }}{{ page.previous.url }}">
              <meta itemprop="headline" content="{{ page.previous.title }}">
              <meta itemprop="author" content="{{ site.author.name }}">
              <meta itemprop="datePublished" content="{{ page.previous.date | date: '%m-%d-%Y' }}">
              <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization" style="display: none">
                <meta itemprop="name" content="{{ site.title }}">
                <meta itemprop="logo" content="{{ site.url }}{{ site.image }}">
              </div>

              <span>Previous Post</span>
              <h4 itemprop="name"><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h4>
            </article>
            {% endif %}
          </div>
          <div class="col-md-6">
            {% if page.next %}
            <article itemscope itemtype="https://schema.org/BlogPosting">
              <meta itemprop="mainEntityOfPage" content="{{ site.url }}{{ page.next.url }}">
              {% if page.next.image %}
              <meta itemprop="image" content="{{ site.baseurl }}/public/posts/{{ page.next.image }}">
              <meta itemprop="thumbnailUrl" content="{{ site.baseurl }}/public/posts/{{ page.next.image }}">
              {% endif %}
              <meta itemprop="description" content="{% if page.next.description %}{{ page.next.description | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}">
              <meta itemprop="url" content="{{ site.url }}{{ page.next.url }}">
              <meta itemprop="headline" content="{{ page.next.title }}">
              <meta itemprop="author" content="{{ site.author.name }}">
              <meta itemprop="datePublished" content="{{ page.next.date | date: '%m-%d-%Y' }}">
              <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization" style="display: none">
                <meta itemprop="name" content="{{ site.title }}">
                <meta itemprop="logo" content="{{ site.url }}{{ site.image }}">
              </div>

              <span>Next Post</span>
              <h4 itemprop="name"><a href="{{ page.next.url }}">{{ page.next.title }}</a></h4>
            </article>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
  </footer>
</article>
